<section class="kassa">
  <h2 class="kassa__title">Касса теплохода</h2>

  <button mat-icon-button (click)="toPrint()">
    <mat-icon>print</mat-icon>
  </button>

  <app-tablo
    [fio]="fio"
    [city]="city"
    [back]="back"
    [parahod]="parahod"
    [date]="date"
    [price]="price"
    [discount]="discount"
    [barcode]="barcode"
    [flagBarcode]="flagBarcode"
  >
  </app-tablo>

  <form [formGroup]="formData" (ngSubmit)="calculation()">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Персональные данные
        </mat-panel-title>
        <mat-panel-description>
          Ф.И.О. Возраст/льготы
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form formGroupName="person">
        <mat-form-field appearance="outline">
          <mat-label>Ф.И.О</mat-label>
          <input matInput [(ngModel)]="fio" placeholder="введите ФИО клиента" formControlName="fio">
        </mat-form-field>

        <mat-radio-group aria-label="Select an option" formControlName="age" [(ngModel)]="discount">
          <mat-radio-button value="20">Ребенок</mat-radio-button>
          <mat-radio-button value="0">Взрослый</mat-radio-button>
          <mat-radio-button value="10">Взрослый(льготный)</mat-radio-button>
        </mat-radio-group>
      </form>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Далее</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Направление движения
        </mat-panel-title>
        <mat-panel-description>
          Выбор города назначения
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form formGroupName="citys">
        <mat-radio-group aria-label="Select an option" formControlName="city" [(ngModel)]="city">
          <mat-radio-button value="Москва">Москва</mat-radio-button>
          <mat-radio-button value="Тамбов">Тамбов</mat-radio-button>
        </mat-radio-group>
        <mat-checkbox class="example-margin" formControlName="back" [(ngModel)]="back">Пассажир покупает обратный билет</mat-checkbox>
      </form>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Назад</button>
        <button mat-button color="primary" (click)="nextStep()">Далее</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Имеющиеся параходы
        </mat-panel-title>
        <mat-panel-description>
          Выбор комфортного парахода
          <mat-icon>pool</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" formControlName="parohod" [(ngModel)]="parahod">
          <mat-radio-button value="Пароход 1">Пароход 1</mat-radio-button>
          <mat-radio-button value="Пароход 2">Пароход 2</mat-radio-button>
          <mat-radio-button value="Пароход 3">Пароход 3</mat-radio-button>
        </mat-radio-group>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Назад</button>
        <button mat-button color="primary" (click)="nextStep()">Далее</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Время поездки
        </mat-panel-title>
        <mat-panel-description>
          Выбрать удобное время отправления
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
          <mat-select *ngIf="city === 'Москва'; else Tambov" formControlName="time" [(ngModel)]="date">
            <mat-option value="2021-08-21 18:00:00">2021-08-21 18:00:00</mat-option>
            <mat-option value="2021-08-21 18:30:00">2021-08-21 18:30:00</mat-option>
<!--            <mat-option value="2021-08-21 18:45:00">2021-08-21 18:45:00</mat-option>-->
<!--            <mat-option value="2021-08-21 19:00:00">2021-08-21 19:00:00</mat-option>-->
<!--            <mat-option value="2021-08-21 19:15:00">2021-08-21 19:15:00</mat-option>-->
<!--            <mat-option value="2021-08-21 21:00:00">2021-08-21 21:00:00</mat-option>-->
          </mat-select>
          <ng-template #Tambov>
            <mat-select formControlName="time" [(ngModel)]="date" >
              <mat-option value="2021-08-21 18:30:00">2021-08-21 18:30:00</mat-option>
              <mat-option value="2021-08-21 18:45:00">2021-08-21 18:45:00</mat-option>
              <mat-option value="2021-08-21 19:00:00">2021-08-21 19:00:00</mat-option>
              <mat-option value="2021-08-21 19:15:00">2021-08-21 19:15:00</mat-option>
              <mat-option value="2021-08-21 19:35:00">2021-08-21 19:35:00</mat-option>
              <mat-option value="2021-08-21 21:50:00">2021-08-21 21:50:00</mat-option>
              <mat-option value="2021-08-21 21:55:00">2021-08-21 21:55:00</mat-option>
            </mat-select>
          </ng-template>

      </mat-form-field>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Назад</button>
        <button mat-button color="primary" (click)="getNewBarcode()">Получить бар код</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <button style="width:100%" mat-raised-button color="primary" (click)="submit()" >Добавить пассажира</button>
  </form>
</section>
